<!DOCTYPE html>
<html>
  <head>
    <link rel= "icon" href="/img/weather.png">
    <link rel= "stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
  </head>
    
  <body>

    <div class="main-content" style="border: 1px solid black;">
      <div class = "columns">
        <div class="row">
          {{>header}}
        </div>
        <div class="row">
          <p>created by {{name}}</p>
        </div>
        <div class="row">
          <form>
            <input placeholder="location">
            <button> Search</button>
          </form> 
        </div>
        <div class="row">
          <p id="message-1"></p>
          <p id="message-2"></p>
        </div>
      </div> 
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>

  </body>
</html>